<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project1</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>

  <body>
    <!--nav bar-->
    <div class="navbar">
      <div class="row">
        <div class="col-md-4 nav_home">
          <ul>
            <li class="home">TRAVEL FINDER</li>
          </ul>
        </div>
        <div class="col-md-4 col-md-offset-3">
          <ul>
            <li class="nava"><a href="#about">Sign Up</a></li>
            <li class="nava"><a href="#travels">Log In</a></li>
            <li class="nava"><a href="#travels"><span class="glyphicon glyphicon-search"></span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!--header-->
    <header>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 caption_title">
          <p class="nav_title">Hello Friend!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 caption_excerpt">
          <p class="excerpt"> Everyone is talking about storytelling: We talk about storytelling.
            You talk about storytelling. Storytelling gets people excited, it’s relatable, and it’s
             a successful marketing strategy across the board.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form class="form-inline search">
            <div class="form-group">
              <label for="place"></label>
              <input type="text" class="form-control" id="place" placeholder="Where do you want to go?">
            </div>
            <button type="submit" class="btn btn-default trip">Find Buddy</button>
          </form>
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-default post"><a href="/posts">View all posts</a></button>
      </div>
    </header>

<!--travel gallery section-->
    <div class="row section_title">
      <p>Top Travel Destinations</p>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-4 photo"><img src="http://lorempixel.com/image_output/city-q-c-400-400-9.jpg" class="img-responsive center-block gallery"><h2 class="img_cap"><span>San Francisco</span></h2></div>
        <div class="col-md-4 photo"><img src="http://lorempixel.com/image_output/city-q-c-400-400-1.jpg" class="img-responsive center-block gallery"><h2 class="img_cap"><span>Berlin</span></h2></div>
        <div class="col-md-4 photo"><img src="http://lorempixel.com/image_output/nature-q-c-400-400-5.jpg" class="img-responsive center-block gallery"><h2 class="img_cap"><span>Arlie Beach</span></h2></div>
      </div>
    </div>
    <div class="row second">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-4 photo"><img src="http://lorempixel.com/image_output/nature-q-c-400-400-2.jpg" class="img-responsive center-block gallery"><h2 class="img_cap"><span>Maui</span></h2></div>
        <div class="col-md-4 photo"><img src="http://lorempixel.com/image_output/city-q-c-400-400-7.jpg" class="img-responsive center-block gallery"><h2 class="img_cap"><span>Sydney</span></h2></div>
        <div class="col-md-4 photo"><img src="http://lorempixel.com/image_output/nature-q-c-400-400-3.jpg" class="img-responsive center-block gallery"><h2 class="img_cap"><span>Hvar</span></h2></div>
      </div>
    </div>
      <button class="btn btn-default viewTrips" type="submit"><a href="/posts">See all destinations</button>
    </div>

<!--bottom footer-->
    <div class="bottom">
      <ul class="footer">
          <li class="footer_line"><a href="#about">Sign Up</a></li>
          <li class="footer_line"><a href="#photos">Log In</a></li>
          <li class="footer_line"><a href="#contact">Contact</a></span></li>
      </ul>
      <p style="color:#737373;padding-top: 5px;">CHRISTINE LAM | christine.lam.06@gmail.com</p>
    </div>



  </body>
</html>
