
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project1</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/post.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/post.js"></script>
  </head>

<body>
  <!--nav bar-->
  <div class="navbar">
    <div class="row">
      <div class="col-md-4 nav_home">
        <ul>
          <li class="home">TRAVEL FINDER</li>
        </ul>
      </div>
      <div class="col-md-4 col-md-offset-3">
        <ul>
          <li class="nava"><a href="#about">About Me</a></li>
          <li class="nava"><a href="#travels">Travels</a></li>
          <li class="nava"><a href="#travels"><span class="glyphicon glyphicon-search"></span></a></li>
        </ul>
      </div>
    </div>
  </div>


  <!--header-->
  <header>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 caption_title">
        <p class="nav_title">View Posts</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 caption_excerpt">
        <p class="excerpt"> Everyone is talking about storytelling: We talk about storytelling.
          You talk about storytelling. Storytelling gets people excited, it’s relatable, and it’s
           a successful marketing strategy across the board.</p>
      </div>
    </div>
  </header>

<!--travel gallery section-->
    <div class="row section_title">
      <p>View all posts</p>
    </div>
    <div id="post">
      <!-- handlebars template -->

      <script id="post-template" type="text/x-handlebars-template">
  
        <div class="container">
          <div class="row post">
            <div class="col-md-4">
              <h3>Traveler: {{name}} <br> Age: {{age}} </h3>
              <img src={{image}}>
              <div class="row">
                <button class="btn btn-primary delete_post" data-postId={{_id}}>Delete Traveler</button>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-4">
                  <p><h2>Upcoming trips:</h2></p>
                </div>
                <div class="col-md-2">
                  <button class='btn btn-primary adTrip'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Trip</button>
                </div>
              </div>
              {{#each trips}}
                <div class="row tripList">
                    <button class='btn btn-primary add-song pull-right'>Edit Trip</button>
                    <button class='btn btn-primary add-song pull-right'>Delete Trip</button>
                    <p><h3>{{country}} , {{city}}<br></h3></p>
                    <p>{{description}}</p>
                    <hr>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
        {{/each}}
      </script>
    </div>


  </body>
</html>
