body{
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #595959;
  background: #F5F7F7
}

a {
  text-decoration: none;
  color:inherit;
}

/*---NAV BAR---*/
ul {
  text-align: right;
  margin: 0;
  padding-top: 25px;
  /*padding-bottom: 5px;*/
  padding-right: 20px;
  vertical-align: middle;
  margin-bottom: -5px;
}

li {
  display: inline;
  font-size: 20px;
  padding: 0 15px 0 15px;
  color: #595959;
}


.nav_home {
  margin-left: -45px;
}

.home {
  font-size: 30px;
  color: #54C49F;
}


#logOutBtn {
  display: none;
}
/*---HEADER---*/
header {
  background: url('/images/background.jpg');
  background-size: cover;
  height: 550px;
  background-position: center;
  margin-top: -5px;
}

.caption_title {
  margin-top: 200px;
  opacity: 0.9;
  background: #54C49F;
  padding-top: 15px;
  padding-bottom: 3px;
}

.caption_excerpt {
  margin-top:0px;
  background: #243631;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  opacity: 0.9;
}

.nav_title  {
  font-size: 30px;
  color: white;
  opacity: 1;
}

.excerpt {
  font-size: 18px;
  color: white;
  opacity: 1;
}

.search  {
  margin-top: 50px;
}

.post {
  margin-top: 20px;
}

#place {
  width: 300px;
  margin-right: 10px;
}

.trip {
  background: red;
}

/*---BODY---*/
.section_title {
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/*img {
  background: blue;
}*/

.row.second {
  margin-top: 25px;
}

.viewTrips {
  margin-top: 20px;
}

.photo {
  position: relative;
}

.img_cap {
  position: absolute;
  margin-top: -200px;
  left:0px;
  bottom: 100px;
  width: 100%;
  height: :100%
}

.img_cap span {
  color: white;
  font-size: 50px;
}

/*---END--*/

button{
  background:#5c8a8a;
  width:130px;
  height: 40px;
  margin-bottom: 50px;
  border-radius: 5%;
  color: white;
  font-size: 13px;
  text-align: center;
}

button:hover{
  opacity: .7;
  color: white;
}


.bottom{
  background: #404040;
  height:150px;
  border:0 solid red;
  }

.footer{
  text-align: center;
  padding-top:65px;

}

.footer_line{
  margin: 0 30px 0 30px;
  color: white;
  border: 0 solid none;
}

.footer_line:hover{
  border-bottom: 3px solid #5c8a8a;
  color: white;
}
