/*-- fonts --

font-family: 'Bubblegum Sans', cursive;
font-family: 'Londrina Solid', cursive;
--*/

body{
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #595959;
  background: #f3f3f3;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color:inherit;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
/*---NAV BAR---*/

.navbar-default {
  background-color: #242424;
}

.navbar-default .navbar-nav li a {
  color: white;
  padding: 15px 0px;
}

.navbar-default .navbar-nav li a:hover {
  color: #54C49F;
}

.navbar-default .navbar-brand {
  font-size:30px;
  color: white;
}
.navbar-default .navbar-brand:hover {
  color: white;
}


li.nava {
  padding: 0 15px 0 15px;
}

.navbar-default .dropdown-menu li a {
  padding: 3px 20px;
}

.navbar-default .navbar-nav .open .dropdown-menu> li >a {
  color: #54C49F;
}

.navbar-default .navbar-nav .open .dropdown-menu> li >a:hover {
  background-color: #f3f3f3;
}

.home {
  font-size: 50px;
  font-family: 'Londrina Solid';
  color: #54C49F;
}

#signUpBtn{
  font-size: 20px;
  font-family: 'Londrina Solid';
}

#logInBtn{
  font-size: 20px;
  font-family: 'Londrina Solid';
}

#dropdown {
  display: none;
  font-size: 20px;
  font-family: 'Londrina Solid';
}


/*.navbar-collapse .dropdown-menu li a{
  padding: 3px 20px;
}*/

/*.navbar-collapse .dropdown-menu li a:hover{
  color: blue;
}*/

/*#dropdown-menu {
  color: white;
  font-size: 18px;
  font-family: 'Londrina Solid';
}*/

#p{
  font-size: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
}

#a{
  font-size: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
}



/*---HEADER---*/

#header .title {
  margin-top: 62px;
}
#header .row h1 {
  text-align:left;
}
#header .row h3 {
  text-align:left;
  font-size: 20px;
}
#header .row hr {
  border: 2px solid black;
}

header {
  background: url('/images/background.JPG');
  background-size: cover;
  height: 200px;
  background-position: center;
  position: relative;
}

header .caption_title {
  opacity: 0.9;
  background: #54C49F;
  margin-top: 10%;
}

header .caption_title p  {
  font-size:20px;
  color: white;
  opacity: 1;
  font-family: 'Londrina Solid';
}

#top {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
}

#top .city {
  text-align: left;
}
#top .city h2{
  font-size: 25px;
}
#top .city h2:hover{
  color: #FA6B32;
  cursor: pointer;
}

#header .top hr {
  border: 1px solid black;
}
#header .top h2 {
  text-align: left;
}



@media(min-width:768px) {
  .navbar-default .navbar-nav li a:hover {
    padding-bottom: 3px;
    border-bottom:3px solid #54C49F;
    color: #cac9c9;
  }

  .navbar-default .dropdown-menu li a:hover{
    border-bottom: 0px;
  }

    header {
        height: 350px;
    }
    #header .row h3 {
      font-size: 24px;
    }
    header .caption_title p {
      font-size:35px;
    }
    .post {
      margin-top: 20px;
    }
    #top .city h2 {
      font-size: 30px;
    }
  }

#search input {
  height: 40px;
}
#search .btn {
  border-radius: 0px 4px 4px 0px;
  color: white;
  background-color: #242424;
}

.center form {
  display: inline-block;
}

.form-control {
  border-radius: 4px 0px 0px 4px;
}


button.searchbtn  {
  margin-top: 10px;
  height: 40px;
  width: 50px;
}

.post {
  /*margin-top: px;*/
  height: 40px;
}

#place {
  width: 200px;
  margin-top: 10px;
}

.trip {
  background: red;
}

/*---BODY---*/

#postSection{
  background: white;
}

#postSection.row:first-child{
  padding-top: 15px;
}

#postSection.row:last-child{
  margin-bottom: 15px;
}


#upcomingTrips{
  font-size: 25px;
  margin-left: -60px;
}

#pic {
  border: 3px solid #403D3D;
  height: 100px;
  width: 100px;
}

#pic:hover {
  cursor: pointer;
  border: 5px solid #FA6B32;
}

#profileCaret{
  margin-top: 12px;
}
.pull-right {
  margin-top: 10px
}


#delete_post:hover{
  color: #54C49F;
  cursor: pointer;
}

#edit_post:hover{
  color: #54C49F;
  cursor: pointer;
}

#posting h4 {
  text-align: left;
}

#postCity {
  text-align: left;
}

#postTitle {
  font-size: 25px;
}

#addPostBtn{
  text-align: left;
}

a.add_post{
    text-decoration: none;
    color: #54C49F;
    font-size: 18px;
    font-family: 'Londrina Solid';
}

#section_title {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: -20px;
}

#section_title span{
  font-size: 60px;
  font-family: 'Londrina Solid';
}
.post {
  background: white;
}

.postList {
  text-align: left;
}

.adPost {
  margin-top: 20px;
}


/*--- MODAL ---*/

#modal-header{
  background: #6E7273;
  height: 100px;
}

#modal-title{
  font-size: 30px;
  color: white;
  font-family: 'Londrina Solid';
}

.modal-content{
  background: #E8E8E8;
  width: 100%;
  height: 100%;
}

.modal-body{
  height: 650px;
}

@media(min-width:768px) {
  .modal-body{
    height: 460px;
  }
  #modal-title{
    font-size: 40px;
  }
}

#signUpForm {
  width: 90%;
  height: 50%;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.modalTitle{
  text-align: center;
}

#sign{
  margin-top: 5px;
}

#modal-body-login{
  height: 220px;
}

@media(min-width:768px) {
  #modal-body-login{
    height: 180px;
  }
}

#descriptionBox{
  margin-top: 20px;
}
#description {
  width: 470px;
}


#profile.modal-body{
  height: 150px;
}

#pic_modal {
  margin-top: 20px;
}

/*---END--*/
.modal-footer button{
  background:#5c8a8a;
  width:130px;
  height: 40px;
  margin-bottom: 50px;
  border-radius: 5%;
  color: white;
  font-size: 13px;
  text-align: center;
}

button:hover{
  opacity: .7;
  color: white;
}

#footer{
  color:white;
  font-size: 20px;
}

.bottom{
  background: #404040;
  height:150px;
  border:0 solid red;
  padding-top: 75px;
  }

.footer_line{
  color: white;
  border: 0 solid none;
  display: inline;
  font-size: 20px;
}

.log {
  margin-left: 50px;
  margin-right: 50px;
}

.footer_line a{
  text-decoration: none;
  color: #737373;
}

.footer_line a:hover{
  border-bottom: 3px solid #5c8a8a;
  color: #737373;
}
