body{
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #595959;
  background: #F5F7F7
}

a {
  text-decoration: none;
  color:inherit;
}

/*---NAV BAR---*/
ul {
  text-align: right;
  margin: 0;
  padding-top: 25px;
  /*padding-bottom: 5px;*/
  padding-right: 20px;
  vertical-align: middle;
  margin-bottom: -5px;
}

li {
  display: inline;
  font-size: 20px;
  padding: 0 15px 0 15px;
  color: #595959;
}


.nav_home {
  margin-left: -45px;
}

.home {
  font-size: 30px;
  color: #54C49F;
}

.dropdown {
  display: none;
}

/*---HEADER---*/
header {
  background: url('/images/background.jpg');
  background-size: cover;
  height: 550px;
  background-position: center;
  margin-top: -5px;
}

.caption_title {
  margin-top: 200px;
  opacity: 0.9;
  background: #54C49F;
  padding-top: 15px;
  padding-bottom: 3px;
}

.caption_excerpt {
  margin-top:0px;
  background: #243631;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  opacity: 0.9;
}

.nav_title  {
  font-size: 30px;
  color: white;
  opacity: 1;
}

.excerpt {
  font-size: 18px;
  color: white;
  opacity: 1;
}

.search  {
  margin-top: 50px;
}

.post {
  margin-top: 20px;
}

#place {
  width: 300px;
  margin-right: 10px;
}

.trip {
  background: red;
}

/*---BODY---*/
.section_title {
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.post {
  background: white;
}

.tripList {
  text-align: left;
}

.adTrip {
  margin-top: 20px;
}
